@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="modal fade" id="deleteTourModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Удалить путевку</h5>
                    <button type="button" class="close btn btn-outline-dark btn-sm" data-dismiss="modal" aria-label="Close" onclick="toggleDeleteModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="toggleDeleteModal()">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="deleteTour()">Удалить</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <td>Название</td>
        <td>Дата начала</td>
        <td>Дата конца</td>
        <td>Цена</td>
        @if (SignInManager.IsSignedIn(User))
        {
            <td>Действия</td>
        }
        </thead>
        @foreach (Tour tour in ViewBag.ToursList)
        {
            <tr class="p-3">
                <td>@tour.Name</td>
                <td>@tour.StartDate</td>
                <td>@tour.EndDate</td>
                <td>@tour.Price &#8381;</td>
                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("Manager"))
                    {
                        <td>
                            <button class="btn btn-primary">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button class="btn btn-danger" onclick="toggleDeleteModal()">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    }
                    else
                    {
                        <td>Not a manager!</td>
                    }
                }
            </tr>
        }
    </table>


</div>

<script>
    const toggleDeleteModal = () => {
        $('#deleteTourModal').modal('toggle');
    }
</script>