@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
    {
        <p>Manager here!</p>
    }

    <table class="table">
        <thead>
        <td>Название</td>
        <td>Дата начала</td>
        <td>Дата конца</td>
        <td>Цена</td>
        </thead>
        @foreach (Tour tour in ViewBag.ToursList)
            {
                <tr>
                    <td>@tour.Name</td>
                    <td>@tour.StartDate</td>
                    <td>@tour.EndDate</td>
                    <td>@tour.Price &#8381;</td>
                </tr>
            }
    </table>
    

</div>